// Global styling for this template

body {
  @include body-font;
  padding-top: 54px;
  color: $gray-600;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-800;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.35rem;
}

.list-social-icons {
  a {
    color: $gray-700;
    &:hover {
      color: $primary;
    }
    .fa-lg {
      font-size: 1.75rem;
    }
  }
}

.list-icons {
  font-size: 3rem;
  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $dark-bg;
  z-index: 0;
}

section {
  position: relative;
  z-index: 1;
}

// Scroll to Top Button
.scroll-to-top {
  position: fixed;
  right: 2.5rem;
  bottom: 2.5rem;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: $gray-700; // More visible (solid)
  line-height: 45px;
  border-radius: 5px;
  z-index: 1040; // above mobile menu

  &:focus,
  &:hover {
    color: white;
  }

  &:hover {
    background: $primary;
  }

  i {
    font-weight: 800;
  }
}
